
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  

  .cabeza {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .titulo {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  .seccion-gatos {
    margin-bottom: 40px;
  }
  
  .section-title {
    text-align: center;
  }

  .card {
    margin-bottom: 20px;
    display: flex;
    height: 100%;
  }
  
  .card1{
    width: 200px;
    height: 200px; 
    border-radius: 50%; 
    background-color: #7FB3D5; 
    text-align: center;
    padding: 80px;
    right: 450px;
    bottom: 700px;
    position: relative;
  }
  
  .circle-card .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

.card2{
    width: 200px;
    height: 200px; 
    border-radius: 50%; 
    background-color: #7FB3D5; 
    text-align: center;
    padding: 80px;
    left: 850px;
    bottom: 1050px;
    position: relative;
}
  .card-img-top {
    flex: 1;
    height: auto;
  }
  .img-grande {
    width: 100%; 
    height: auto; 
  }
  .card-body {
    text-align: center;
    flex: 1;
  }
  .card-right {
    margin-left: auto;
}
  
  .link-volver {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;  }
.nav {
    background-color: #C8C7C8; 
    padding: 10px 0; 
}  
.menu {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    text-align: center; 
}

  .navbar {
    background-color: #2E86C1;
    padding: 10px 0;
  }
  
  .navbar-brand {
    color: white;
  }
  
  .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #555;
  }

  .menu li {
    display: inline; 
    margin-right: 20px; 
}
