/* Estilos generales */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos de la cabecera */
  .cabeza {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .titulo {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos de la sección de gatos */
  .seccion-gatos {
    margin-bottom: 40px;
  }
  
  .section-title {
    text-align: center;
  }
  
  /* Estilos de las tarjetas */
  .card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  /* Estilos del enlace de vuelta */
  .link-volver {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;  }
.nav {
    background-color: #C8C7C8; /* Color de fondo del menú */
    padding: 10px 0; /* Espaciado interno */
}  
.menu {
    list-style-type: none; /* Quita los puntos de lista */
    margin: 0;
    padding: 0;
    text-align: center; /* Centra los elementos */
}
  /* Estilos del menú de navegación */
  .navbar {
    background-color: #2E86C1;
    padding: 10px 0;
  }
  
  .navbar-brand {
    color: white;
  }
  
  .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #555;
  }

  .menu li {
    display: inline; /* Muestra los elementos en línea */
    margin-right: 20px; /* Espacio entre los elementos del menú */
}
